<div class="body">
  <div class="img-topo">
    <img src="./../../assets/img/13.jpg" alt="">
  </div>

  <div class="check-in container">
    <div class="row">
      <div class="col-md">
        <label for="">Data de Entrada*</label><br>
        <input type="date" data-type="datepicker" placeholder="Check in">
      </div>
      <div class="col-md">
        <label for="">Data de Saida*</label><br>
        <input type="date" data-type="datepicker" placeholder="Check in">
      </div>

      <div class="col-md">
        <label for=""></label><br>
        <select name="Adulto" >
          <option value="bota">1 Adulto</option>
          <option value="fla">2 Adultos</option>
          <option value="flu">3 Adultos</option>
          <option value="vasco">4 Adultos</option>
        </select>
      </div>
      <div class="col-md">
        <label for=""></label><br>
        <select name="Criancas">
          <option value="bota">Nenhuma Criança</option>
          <option value="fla">1</option>
          <option value="flu">2</option>
          <option value="vasco">3</option>
          </select>
      </div>
      <div class="col-md">
        <label for=""></label><br>

        <button type="button" class="btn btn-primary" style="width: 100%; height: 47px;">Pesquisar</button>
      </div>
    </div>
  </div>

  <div class="container reserva">

    <div class="form-inline">
      <div class="form-group mb-2">
        <label class="mr-2"></label>
        <input type="text" class="form-control mr-2" placeholder="Buscar">
        <button class="btn btn-outline-success">Buscar</button>
      </div>
    </div>
    <!-- <h3>Filtro: {{filtroLista}}</h3> -->
    <table class="table table-striped
    ">
      <thead class="thead-dark">
        <tr>
          <th>Foto</th>
          <th>Quarto</th>
          <th>Detalhes</th>
          <th>Preço</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><img src="" alt=""></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button routerLink="/cadastro-usuario" class="btn btn-primary">Reservar</button>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="8">
            <h4>Nenhum evento marcado</h4>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>

</div>

