<div class="img-header">
  <div style="background: linear-gradient(rgba(0,0,0,.3),rgba(164, 117, 106, .2)100%); height: 902px;">
    <div class="header">
      <div id="texto-header">
        <h1>
          Rest Journey in Single step, in the breathtaking
        </h1>
      </div>
    </div>


    <div class="check-in container">
      <div class="row">
        <div class="col-md">
          <label for="">Data de Entrada*</label><br>
          <input type="date" data-type="datepicker" placeholder="Check in">
        </div>
        <div class="col-md">
          <label for="">Data de Saida*</label><br>
          <input type="date" data-type="datepicker" placeholder="Check in">
        </div>

        <div class="col-md">
          <label for=""></label><br>
          <select name="Adulto" >
            <option value="bota">1 Adulto</option>
            <option value="fla">2 Adultos</option>
            <option value="flu">3 Adultos</option>
            <option value="vasco">4 Adultos</option>
          </select>
        </div>
        <div class="col-md">
          <label for=""></label><br>
          <select name="Criancas">
            <option value="bota">Nenhuma Criança</option>
            <option value="fla">1</option>
            <option value="flu">2</option>
            <option value="vasco">3</option>
            </select>
        </div>
        <div class="col-md">
          <label for=""></label><br>
          <button type="button" class="btn btn-light" style="width: 100%; height: 47px;">Pesquisar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Conteudo -->

<div class="container">
  <div class="conteudo " >
    <div class="row" style="height: 513px; margin-top: auto; margin-bottom: auto; ">
      <div class="col-md">
        <img src="../../assets/img/Rolax/1.webp" alt="" style="width: 451px;">
      </div>
      <div class="col-md" style="align-items: center; display: flex; line-height: 28px;">
        <div>
          <h2>
            Luxury & Comfort Our services and wonders of Prague
          </h2>

          <br>

          <p>The concept and service of the best luxury hotels in Asturias in our sophisticated Urban Double and Unique Junior Suite rooms, with the possibility of enjoying a furnished terrace in our Double Urban Loft and Unique Junior Loft Suite.</p>

          <br>

          <button type="button" class="btn btn-outline-info" style="width: 170px; height: 50px;">Saiba Mais</button>
        </div>
      </div>
      <div class="col-md">
        <img src="../../assets/img/Rolax/2.webp" alt="" style="width: 261px;">
      </div>
    </div>
  </div>

  <div class="conteudo" style="height: 600px; margin-bottom: 60px;">
    <div class="row container">
      <h2>Our Rooms</h2>
      <p>The concept and service of the best luxury <br> hotels in Asturias in our sophisticated.</p>

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide><img src="../../assets/img/Rolax/xguest1.jpg.pagespeed.ic.X6pEae31oe.webp" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/Rolax/xguest1.jpg.pagespeed.ic.X6pEae31oe.webp" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/Rolax/xguest1.jpg.pagespeed.ic.X6pEae31oe.webp" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/Rolax/xguest1.jpg.pagespeed.ic.X6pEae31oe.webp" alt=""></ng-template>
        <ng-template carouselSlide><img src="../../assets/img/Rolax/xguest1.jpg.pagespeed.ic.X6pEae31oe.webp" alt=""></ng-template>
      </owl-carousel-o>

    </div>
  </div>

  <div>
    <div style="text-align: center; width: 855px; margin: auto;">
      <h2>Surrounded by galleries, boutiques, restaurants and cafés, our Hotel is a hub of energy and style.</h2><br>
      <a href="#">Find a Room For You</a>
    </div>
  </div>
</div>
